name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2

      - name: Cache Arduino dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.arduino15
            ~/Arduino/libraries
          key: arduino-${{ hashFiles('sketch.yaml') }}

      - name: Compile sketch
        run: arduino-cli compile --profile esp32s3
